module.exports = {

    infuraProjectId: "inutile, non cagartelo", // your infura project id

    accountPrivateKey: "Private key esportata da metamask", // you ethereum private key

    etherscanAPIKey: "inutile, non cagartelo", // your etherscan api key

}
